= simple_form_for @product do |f|
  - if @product.errors.any?
    #error_explanation
      %h2= "#{pluralize(@product.errors.count, "error")} prohibited this product from being saved:"
      %ul
        - @product.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.input :image
  .field
    = f.input :name
  .field
    = f.input :abstract
  .field
    = f.input :description
  .actions
    = f.submit 'Save'
