.page-header
  %h1 Listing products

%table.table
  %thead
    %tr
      %th Image
      %th Name
      %th Abstract
      %th Description
      %th
      %th
      %th

  %tbody
    - @products.each do |product|
      %tr
        %td
          - if product.image?
            = image_tag product.image.url, style: 'max-width: 50px'

          - else
            N/A
        %td= product.name
        %td= product.abstract
        %td= product.description
        %td= link_to 'Show', product
        %td= link_to 'Edit', edit_product_path(product)
        %td= link_to 'Destroy', product, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Product', new_product_path
