%p#notice= notice

%p
  %b Image:
  - if @product.image?
    = image_tag @product.image.url, style: 'max-width: 250px'

%p
  %b Name:
  = @product.name
%p
  %b Abstract:
  = @product.abstract
%p
  %b Description:
  = @product.description

= link_to 'Edit', edit_product_path(@product)
\|
= link_to 'Back', products_path
